<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de tarefa do projeto</div>
                <div class="panel-body">
                        <p><strong>Deseja realmente excluir tarefa do projeto?</strong></p>
                        <ul>
                            <li><strong>Nome</strong> {{projectMember.user.data.membro_nome}}</li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/project/{{projectMember.project_id}}/member" class="btn btn-primary">Cancelar</a>
                                <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
