<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão nota de Projeto</div>
                <div class="panel-body">
                        <p><strong>Deseja realmente excluir nota de projeto?</strong></p>
                        <ul>
                            <li><strong>Título</strong> {{projectNote.titulo}}</li>
                            <li><strong>Anotação:</strong> {{projectNote.anotacao}}</li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/project/{{projectNote.project_id}}/notes" class="btn btn-primary">Cancelar</a>
                                <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
