<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastro de projeto</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="frmNew" role="form" method="POST" ng-submit="save()">
                        <div class="form-group" ng-class="{'has-error': !frmNew.projeto.$valid && frmNew.projeto.$touched}">
                            <label class="col-md-4 control-label" for="projeto">Nome</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="projeto" ng-model="project.projeto" required="">
                                <div ng-messages="frmNew.projeto.$error" class="help-block" ng-show="frmNew.projeto.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': !frmNew.descricao.$valid && frmNew.descricao.$touched}">
                            <label class="col-md-4 control-label" for="descricao">Descrição</label>
                            <div class="col-md-6">
                                <textarea  class="form-control" name="descricao" ng-model="project.descricao" required=""></textarea>
                                <div ng-messages="frmNew.descricao.$error" class="help-block" ng-show="frmNew.descricao.$touched">
                                        <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                         <div class="form-group" ng-class="{'has-error': !frmNew.clientId.$valid && frmNew.clientId.$touched}">
                            <label class="col-md-4 control-label" for="ClientId">Cliente</label>
                            <div class="col-md-6">
                                <input type="text" name="clientId" class="form-control" ng-model="clientSelected"  
                                       uib-typeahead="c as c.nome for c in getClients($viewValue)"
                                       typeahead-input-formatter="formatName($model)"
                                       typeahead-on-select="selectClient($item)" 
                                       typeahead-editable="false"
                                       autocomplete="off"/>
                                <div ng-messages="frmNew.clientId.$error" class="help-block" ng-show="frmNew.clientId.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                    <div ng-message="editable">Digite um cliente válido</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': !frmNew.progresso.$valid && frmNew.progresso.$touched}">
                            <label class="col-md-4 control-label" for="progresso">Progresso(%)</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="progresso" ng-model="project.progresso" required="" min="0" max="100" autocomplete="off">
                                <div ng-messages="frmNew.progresso.$error" class="help-block" ng-show="frmNew.progresso.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                    <div ng-message="min">Valor mínimo aceitável é 0</div>
                                    <div ng-message="max">Valor máximo aceitável é 100</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': !frmNew.dataFinalizacao.$valid && frmNew.dataFinalizacao.$touched}">
                            <label class="col-md-4 control-label" for="dataFinalizacao">Data Finalização</label>
                            <div class="col-md-6">
                                 <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
                                        ng-model="project.dataFinalizacao" name="dataFinalizacao" 
                                        is-open="dataFinalizacao.status.opened" date-disabled="disabled(date, mode)" 
                                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div ng-messages="frmNew.dataFinalizacao.$error" class="help-block" ng-show="frmNew.dataFinalizacao.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                    <div ng-message="date">Digite uma data válida</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': !frmNew.status.$valid && frmNew.status.$touched}">
                            <label class="col-md-4 control-label" for="status">Status</label>
                            <div class="col-md-6">
                                <select class="form-control" name="status" ng-model="project.status" ng-options="s.value as s.label for s in status" required="">
                                    <option value="">Selecione</option>
                                </select>
                                <div ng-messages="frmNew.status.$error" class="help-block" ng-show="frmNew.status.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salavar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
