<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão cliente</div>
                <div class="panel-body">
                        <p><strong>Deseja realmente excluir cliente?</strong></p>
                        <ul>
                            <li><strong>Nome:</strong> {{client.nome}}</li>
                            <li><strong>Responsável:</strong> {{client.responsavel}}</li>
                            <li><strong>E-mail:</strong> {{client.email}}</li>
                            <li><strong>Telefone:</strong> {{client.telefone}}</li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <a ng-href="#/clients" class="btn btn-primary">Cancelar</a>
                                <button type="button" class="btn btn-danger" ng-click="remove()">Excluir</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
