<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de tarefa</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="edit()">
                        <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label" for="name">Título</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="projectTask.name" required="">
                                <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !form.start_date.$valid && form.start_date.$touched}">
                            <label class="col-md-4 control-label" for="start_date">Data Início</label>
                            <div class="col-md-6">
                                 <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
                                        ng-model="projectTask.start_date" name="start_date" 
                                        is-open="startDate.status.opened" date-disabled="disabled(date, mode)" 
                                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStartDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div ng-messages="form.start_date.$error" class="help-block" ng-show="form.start_date.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                    <div ng-message="date">Digite uma data válida</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !form.dataFinalizacao.$valid && form.dataFinalizacao.$touched}">
                            <label class="col-md-4 control-label" for="dataFinalizacao">Data Finalização</label>
                            <div class="col-md-6">
                                 <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
                                        ng-model="projectTask.due_date" name="due_date" 
                                        is-open="dueDate.status.opened" date-disabled="disabled(date, mode)" 
                                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDueDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <div ng-messages="form.due_date.$error" class="help-block" ng-show="form.due_date.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                    <div ng-message="date">Digite uma data válida</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': !form.status.$valid && form.status.$touched}">
                            <label class="col-md-4 control-label" for="status">Status</label>
                            <div class="col-md-6">
                                <select class="form-control" name="status" ng-model="projectTask.status" ng-options="s.value as s.label for s in status" required="">
                                    <option value="">Selecione</option>
                                </select>
                                <div ng-messages="form.status.$error" class="help-block" ng-show="form.status.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salavar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
