<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listagem de tarefas
                    <div class="pull-right col-md-10">
                        <form class="form-inline" name="form" role="form" method="POST" ng-submit="save()">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nome</label>
                                <div class="col-md-6">
                                    <input ng-model="projectTask.name" name="name" class="form-control" type="text" required=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">Gravar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data início</th>
                                <th>Data Fim</th>
                                <th>Status</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pn in projectTasks">
                                <td>{{pn.name|limitTo:25}}</td>
                                <td>{{pn.start_date|dateBr}}</td>
                                <td>{{pn.due_date|dateBr}}</td>
                                <td>{{pn.status}}</td>
                                <td>{{pn.anotacao|limitTo:25}}...</td>
                                <td>
                                    <a ng-href="#/project/{{pn.project_id}}/task/edit/{{pn.id}}" class="btn-primary btn-xs">Editar</a>
                                    <a ng-href="#/project/{{pn.project_id}}/task/remove/{{pn.id}}" class="btn-danger btn-xs">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
