<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Edição de arquivos de projeto</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="frmEdit" role="form" method="POST" ng-submit="edit()">
                        <div class="form-group" ng-class="{'has-error': !frmEdit.nome.$valid && frmEdit.nome.$touched}">
                            <label class="col-md-4 control-label" for="nome">Nome</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="nome" ng-model="projectFile.nome" required="">
                                <div ng-messages="frmEdit.nome.$error" class="help-block" ng-show="frmEdit.nome.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error': !frmEdit.descricao.$valid && frmEdit.descricao.$touched}">
                            <label class="col-md-4 control-label" for="obs">Descrição</label>
                            <div class="col-md-6">
                                <textarea  class="form-control" name="descricao" ng-model="projectFile.descricao" required=""></textarea>
                                <div ng-messages="frmEdit.descricao.$error" class="help-block" ng-show="frmEdit.descricao.$touched">
                                    <div ng-message="required">Compo obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': !frmEdit.descricao.$valid && frmEdit.descricao.$touched}">
                            <div class="col-md-6 col-md-offset-4">
                               <project-file-download id-file="{{projectFile.id}}"></project-file-download>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salavar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
